*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {
    max-width: 992px; // (696 + 24 gutter) 有下等於沒下????
    margin: 0 auto;
    padding: 0 12px;   //不可刪除

    //  @include mobile() {
    //   min-width: 320px; // (696 + 24 gutter)
    
    // }
}

a {
    text-decoration: none;
}

ol, ul{
    list-style: none;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    }