.index-title {
  font-size: 100px;
}


.bus{
  width: 200px;
  height: 200px;
  background-color: $primary;
  border-radius: 50%;
 
}
.mrt{
  width: 200px;
  height: 200px;
  background-color: #41aa00;
  border-radius: 50%;
}

.youbike{
  width: 200px;
  height: 200px;
  background-color: #F09000;
  border-radius: 50%;
}

.logistic{
  width: 200px;
  height: 200px;
  background-color: #bb0321 ;
  border-radius: 50%;
}

svg{
  width: 100px;
  height: 100px;
  
}