.container {
  background: linear-gradient(170deg, #E2D5D2 2%, #64E8E7 20%, #5690D9 80%);
}

// .wrap div {


//   @media (min-width:768px) {
//     width: 50%;
//   }

// }

.wrap {
  //讓radio消失不見

  input[type="radio"] {
    display: none;
  }
}

.tab-wrap {
  svg {
    width: 100px;
    height: 100px;

  }
}


.bus {
  width: 200px;
  height: 200px;
  background-color: rgba($primary, 1); //更改透明度
  border-radius: 50%;

}



.mrt {
  width: 200px;
  height: 200px;
  background-color: #41aa00;
  border-radius: 50%;
}

.youbike {
  width: 200px;
  height: 200px;
  background-color: #F09000;
  border-radius: 50%;
}

.management {
  width: 200px;
  height: 200px;
  background-color: #bb0321;
  border-radius: 50%;
}


.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

// 公車內容
.bus-wrap {

  .bus-terminal,
  .bus-arrival {
    width: 100%;

    h6 {
      background-color: gray;

    }
  }

  .bus-time {
    width: 46%;
  }

  .bus-map {
    width: 50%;
  }


  .bus-terminal {
    width: 48%;
  }

  .bus-arrival {
    width: 48%;
  }

  //公車介面內捷運圖示
  .icon-frame {
    width: 80px; //統一icon的寬
    background-color: #0072c6;
    margin-right: 60px;
  }


  //板南線

  .BL-words-color {
    color: #0087d4;
  }

  .BL-frame {
    width: 200px;   //可改fit-content
    border: 1px solid #0072c6;
    margin-right: 60px;
  }

  //松山新店線
  .G-words {
    color: #007c59;
  }

  .G {
    background-color: #007c59;
    margin-right: 60px;
  }

}

//捷運內容
.mrt-wrap {
  background-color: blue;
  height: 100px;

  .mrt-title {
    background-color: pink;
    height: 50px;
  }

  .title-frame {
    width: 200px; //可改fit-content
    top: 5%;
    border-radius: 0 5rem 5rem 0;
  }
}

//component

//電力告示牌
.board {

  width: fit-content; //改成寬度跟內容一樣大小 這裡就不用position了
  height: 100%;
  background-color: rgba(white, 0.3);
  border-radius: 8px;
  border: 2px solid white;

  .board-information {
    padding: 24px;
  }


  .board-title-frame {
    padding: 4px 24px; //標題白色空間
    width: 60%;
    // margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 0 5rem 5rem 0;
    background-color: #fff;
    color: #617DB3;

  }

  .battery-icon {
    left: 85%
  }

  .battery-p {
    //有背景顏色的p標籤
    background-color: #215DB6;
    padding: 4px 12px;
    color: white;
    border-radius: 10px;
  }

}

//電梯資訊1
.elevator {

  width: fit-content; //改成寬度跟內容一樣大小 這裡就不用position了
  height: 100%;
  background-color: rgba(white, 0.3);
  border-radius: 8px;
  border: 2px solid white;

  .elevator-information {
    padding: 16px 24px;

  }

  .elevator-block {
    background-color: #215DB6;
    border-radius: 10px;
    padding: 16px 36px; //電梯藍色空間
  }

  .elevator-title-frame {
    padding: 4px 16px; //標題白色空間

    margin-right: 2rem;
    border-radius: 0 5rem 5rem 0;
    background-color: #fff;
    color: #617DB3;

  }


}

//捷運
.mrt-block {
  width: fit-content; //改成寬度跟內容一樣大小 這裡就不用position了
  height: 100%;
  background-color: rgba(white, 0.3);
  border-radius: 8px;
  border: 2px solid white;
  
  .mrt-title-frame {
    padding: 4px 5em; //標題白色空間 改成em
    margin-right: 2rem;
    border-radius: 0 5rem 5rem 0;
    background-color: #fff;
    color: #617DB3;

  }


  .R-frame {
    width: fit-content;
    border: 1px solid white;
    padding: 2px 32px;
    margin-right: 60px;
  }

  .title-frame {
    width: 200px;
    top: 5%;
    border-radius: 0 5rem 5rem 0;
  }

  .icon-frame {
    width: 60px; //統一icon的寬
    background-color: #D93737;
    margin-right: 32px;
  }



}