<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <!-- header -->
    <div class="container p-0 header">
      <div class="d-flex header-content align-items-center justify-content-between">
        <h1 class="logo ps-4 py-2 m-0 d-flex align-items-center"><a href="index.html" class="">福星公宅</a>
          <p class="m-0 fw-bold">福星公宅</p>
        </h1>

        <div class="managementAll text-center">
          <a href="javascript:void(0)" class="tab" onclick="showTabContent(4)">
            <li class="management-tab">
              <span style="color: #ffffff;" class="management-icon text-center">
                <!-- span樣式跟其他不一樣 -->
                <i class="fa-solid fa-building-circle-arrow-right"></i>
                <span class="management-words text-white m-0">物業管理系統</span>
              </span>
            </li>
          </a>
        </div>

      </div>
    </div>

    <div class="container px-0">
      <!-- 地圖滿版 -->


      <ul class="tab-wrap d-flex justify-content-center p-0">
        <div class="d-flex flex-column align-items-center m-3">
          <a href="javascript:void(0)" class="tab" onclick="showTabContent(1)">
            <li class="bus position-relative">

              <span style="color: #ffffff;"
                class="position-absolute top-50 start-50 translate-middle d-inline-block text-center">
                <i class="fa-solid fa-bus"></i>
                <p class="text-white m-0">公車</p>
              </span>

            </li>
          </a>
        </div>

        <div class="d-flex flex-column align-items-center m-3">
          <a href="javascript:void(0)" class="tab" onclick="showTabContent(2)">
            <li class="mrt position-relative"> <span style="color: #ffffff;"
                class="position-absolute top-50 start-50 translate-middle text-center">
                <i class="fa-solid fa-train-subway"></i>
                <p class="text-white m-0">捷運</p>
              </span></li>

          </a>
        </div>
        <div class="d-flex flex-column align-items-center m-3">
          <a href="javascript:void(0)" class="tab" onclick="showTabContent(3)">
            <li class="youbike position-relative ">
              <span style="color: #ffffff;" class="position-absolute top-50 start-50 translate-middle text-center">
                <i class="fa-solid fa-bicycle"></i>
                <p class="text-white m-0">Youbike</p>
              </span>
            </li>
          </a>
        </div>


      </ul>


      <!-- wrap -->



      <!-- tabContent1下方內容 -->

      <div id="tabContent1" class="tab-content active">
        <!-- 公車內容 -->
        <!-- 直接變直式 -->
        <div class="bus-wrap d-flex flex-column align-items-center">
          <!-- 不要橫式結構要改 -->
          <!-- bus map -->
          <div class="bus-map text-center">
            <h3 class="underline-title text-white fw-bold mt-3">地理位置</h3>
            <!-- 公車地圖區塊切換-萬華運動中心-->
            <div id="subTabContent1_4" class="sub-tab-content active">
              <img src="../assets/images/公車站-萬華運動中心.png" class="my-4 w-100" alt="公車站-萬華運動中心">
            </div>
            <!-- 公車地圖區塊切換-洛陽停車場-->
            <div id="subTabContent1_5" class="sub-tab-content">
              <img src="../assets/images/公車站-洛陽停車場.png" class="my-4 w-100" alt="公車站-洛陽停車場">
            </div>
            <!-- 公車地圖區塊切換-福星公園-->
            <div id="subTabContent1_6" class="sub-tab-content">
              <img src="../assets/images/公車站-福星公園.png" class="my-4 w-100" alt="公車站-福星公園">
            </div>


          </div>
          <!-- bus map end-->

          <!-- bus-time -->
          <div class="bus-map text-center my-4">
            <h3 class="underline-title text-white fw-bold">鄰近公車站牌</h3>
          </div>

          <div class="bus-time">
            <div class="bustime-station d-flex justify-content-between">
              <div class="Wanhua-exercise2"><a href="javascript:void(0)" class="sub-tab"
                  onclick="showSubTabContent(1, 1)">
                  <h6 class="lh-lg text-center">萬華運動中心</h6>
                </a>
              </div>
              <div class="Luoyang-parkinglot2"><a href="javascript:void(0)" class="sub-tab"
                  onclick="showSubTabContent(1, 2)">
                  <h6 class="lh-lg text-center">洛陽停車場</h6>
                </a>
              </div>
              <div class="Fushin-park2"><a href="javascript:void(0)" class="sub-tab" onclick="showSubTabContent(1, 3)">
                  <h6 class="lh-lg text-center">福興公園</h6>
                </a>
              </div>
            </div>
            <!-- 站名切換2 end -->
            <!--站名切換 end  -->


            <!-- sub tab1內容 -->
            <div id="subTabContent1_1" class="sub-tab-content active">
              <div class="Bus-information my-3 B29-words-color p-2 rounded z-1 d-flex align-items-center">

                <span class="B29 fs-2 text-center py-2 rounded icon-frame d-inline-block position-relative"><a href="#"
                    class="text-white stretched-link">藍29</a></span>

                <span class="B29-arrival d-inline-block text-center">往聯合醫院中興院區</span>
                <span class="B29-time text-center">三分鐘後到站</span>
              </div>


              <!-- img外面白色邊框 -->
              <div class="bus-white text-center bg-light rounded">
                <img src="../assets/images/藍29-裁切.png" class="my-4" alt="藍29公車路線圖">
              </div>

              <div class="Bus-information my-3 B29-words-color p-2 rounded z-1 d-flex align-items-center">
                <span class="B29 fs-2 text-center py-2 rounded icon-frame d-inline-block position-relative"><a href="#"
                    class="text-white stretched-link">938</a></span>

                <span class="B29-arrival d-inline-block text-center">往捷運台大醫院站</span>
                <span class="B29-time text-center">五分鐘後到站</span>
              </div>

              <div class="mb-4">
                <!-- img外面白色邊框 -->
                <div id="" class="bus-white text-center bg-light rounded">
                  <img src="../assets/images/938.png" class="" alt="938公車路線圖">
                </div>
              </div>

            </div>


            <!-- sub tab2內容 -->
            <div id="subTabContent1_2" class="sub-tab-content">
              <div class="Bus-information my-3 B29-words-color p-2 rounded z-1 d-flex align-items-center">

                <span class="B29 fs-2 text-center py-2 rounded icon-frame d-inline-block position-relative"><a href="#"
                    class="text-white stretched-link">藍29</a></span>
                <!-- 原本a標籤內 onclick="toggleSubTabContent(1, 1)"刪除 -->
                <span class="B29-arrival d-inline-block text-center">往聯合醫院中興院區</span>
                <span class="B29-time text-center">三分鐘後到站</span>
              </div>

              <!-- img外面白色邊框 -->
              <div class="bus-white text-center bg-light rounded mb-4">
                <img src="../assets/images/藍29-裁切.png" class="my-4" alt="藍29公車路線圖">
              </div>


            </div>

            <!-- sub tab3內容 -->
            <div id="subTabContent1_3" class="sub-tab-content">
              <div class="Bus-information my-3 B29-words-color p-2 rounded z-1 d-flex align-items-center">

                <span class="B29 fs-2 text-center py-2 rounded icon-frame d-inline-block position-relative"><a href="#"
                    class="text-white stretched-link">藍29</a></span>

                <span class="B29-arrival d-inline-block text-center">往聯合醫院中興院區</span>
                <span class="B29-time text-center">三分鐘後到站</span>
              </div>

              <!-- img外面白色邊框 -->
              <div class="bus-white text-center bg-light rounded mb-4">
                <img src="../assets/images/藍29-裁切.png" class="my-4" alt="藍29公車路線圖">
              </div>


            </div>


          </div><!-- bus-time end-->
        </div> <!-- bus wrap -->

      </div> <!--  tabContent1 end-->




      <!-- tabContent2  -->
      <div id="tabContent2" class="tab-content">

        <!-- 捷運內容 -->
        <!-- 直接變直式 -->
        <div class="bus-wrap d-flex flex-column align-items-center">
          <!-- 不要橫式結構要改 -->
          <!-- bus map -->
          <div class="bus-map text-center">
            <h3 class="underline-title text-white fw-bold mt-3">地理位置</h3><img src="../assets/images/mapAll裁切.png"
              class="w-100 my-4" alt="捷運地圖">


          </div>
          <!-- mrt map end-->
          <h3 class="underline-title text-white fw-bold my-5">捷運路線</h3>
          <div class="mrt-time bg-light p-4 rounded ">

            <div class=" flex-wrap d-flex">
              <div class="mrt-BL-board w-100">
                <div class="mrt-terminal rounded">
                  <a href="javascript:void(0)" class="sub-tab" onclick="toggleSubTabContent(2, 1)">
                    <h6 class="text-white lh-lg fs-4 text-center m-0">板南線</h6>
                  </a>
                </div>
                <!-- 板南線時刻表 -->
                <div class="BL-information BL-words-color d-flex justify-content-around align-items-center my-3">

                  <span class="BL01 BL-frame d-inline-block text-center">頂埔</span>
                  <span class="BL01-time d-inline-block text-center">3分鐘後到站</span>
                </div>
                <div class="BL-information BL-words-color d-flex justify-content-around align-items-center my-3">

                  <span class="BL23 BL-frame d-inline-block text-center">南港展覽館</span>
                  <span class="BL23-time   d-inline-block text-center">3分鐘後到站</span>
                </div>

                <div><img src="../assets/images/台北捷運板南線斜式-藍線.png" class="rounded py-4" alt="捷運板南線"></div>
              </div>

              <div class="mrt-G-board w-100 mt-4">
                <div class="mrt-arrival rounded">

                  <a href="javascript:void(0)" class="sub-tab" onclick="toggleSubTabContent(2, 2)">
                    <h6 class="text-white lh-lg fs-4 text-center m-0">新店線</h6>
                  </a>
                </div>
                <div class="G-information G-words d-flex justify-content-around align-items-center my-3">

                  <span class="BL23 BL-frame fs-3 d-inline-block text-center">新店</span>
                  <span class="BL23-time text-center">3分鐘後到站</span>
                </div>

                <div class="G-information G-words d-flex justify-content-around align-items-center my-3">

                  <span class="BL23 BL-frame d-inline-block text-center">小碧潭</span>
                  <span class="BL23-time text-center">5分鐘後到站</span>
                </div>
              </div>
              <div><img src="../assets/images/台北捷運松山新店線(2017-11-22).png" class="rounded py-4" alt="捷運新店線"></div>
            </div>

          </div><!-- mrt-time end-->

        </div>

        <div class="text-center pb-4 my-4">

        </div>


      </div>


      <!-- tabContent3 -->
      <div id="tabContent3" class="tab-content">
        <!-- YouBike內容 -->

        <div class="bus-map text-center">
          <h3 class="underline-title text-white fw-bold mt-3">地理位置</h3>
          <!-- subtab更換位置 -->
          <div id="subTabContent3_1" class="sub-tab-content active">
            <img src="../assets/images/Youbike-洛陽停車場.png" class="w-100 my-4" alt="youbike洛陽停車場">
          </div>
          <div id="subTabContent3_2" class="sub-tab-content">
            <img src="../assets/images/Youbike-開封西寧路口.png" class="w-100 my-4" alt="youbike開封西寧路口">
          </div>
        </div>

        <!-- 捷運信義安和 -->
        <div class="youbike-wrap d-flex flex-wrap flex-md-nowrap justify-content-center">
          <!-- luoyang -->
          <div class="youbike-block luoyang m-2">
            <!-- m-2擠出白色外面邊框 -->
            <div class="d-flex align-items-center mt-2">
              <span class="youbike-title-frame position-relative d-flex d-inline-block align-items-center"><span
                  style="font-size: 2em; color: #617DB3;" class="d-flex d-inline-block justify-content-center">
                  <i class="fa-solid fa-bicycle"></i></span><span class="ms-2 fs-2">Youbike</span></span>
            </div>

            <div class="youbike-information d-flex justify-content-center">
              <div class="youbike-number text-center">

                <p class="text-white m-0 fs-2 fw-bold">5台</p>
              </div>
            </div>

            <!-- 新增youbike可點擊區域 -->
            <a href="javascript:void(0)" class="sub-tab" onclick="showSubTabContent(3, 1)">
              <div class="youbike-information">
                <div class="text-center">
                  <p class="m-0 pt-2 fs-2">洛陽停車場</p>
                </div>
              </div>
          </div>
          </a>
          <!-- youbike-block end -->

          <!-- kaifeng -->
          <div class="youbike-block kaifeng m-2">
            <!-- m-2擠出白色外面邊框 -->
            <div class="d-flex align-items-center mt-2">
              <span class="youbike-title-frame position-relative d-flex d-inline-block align-items-center"><span
                  style="font-size: 2em; color: #617DB3;" class="d-flex d-inline-block justify-content-center">
                  <i class="fa-solid fa-bicycle"></i></span><span class="ms-2 fs-2">Youbike</span></span>
            </div>


            <div class="youbike-information d-flex justify-content-center">

              <div class="youbike-number kaifeng text-center">
                <p class="text-white m-0 fs-2 fw-bold">10台</p>
              </div>
            </div>

            <!-- 新增youbike可點擊區域 -->
            <a href="javascript:void(0)" class="sub-tab" onclick="showSubTabContent(3, 2)">
              <div class="youbike-information">
                <div class="text-center">
                  <p class="m-0 pt-2 fs-2">開封西寧路口</p>
                </div>
              </div>

          </div>
          </a>
          <!-- youbike-block end -->


        </div>
        <!-- youbike-wrap end-->

        <!-- farm -->
        <div class="farm-wrap">

          <div class="farm-block m-2 pt-2">
            <!-- m-2擠出白色外面邊框 -->
            <div class="d-flex align-items-center">
              <span
                class="farm-title-frame position-relative d-flex d-inline-block align-items-center justify-content-center"><span
                  class="fw-bold">RF 智慧農園</span></span>
            </div>


            <div class="farm-information d-flex justify-content-center">
              <div class="farm-number text-center me-2">
                <p class="text-white m-0 fs-2">溫度</p>
                <p class="text-white m-0 fs-2">19.0<span>˚C</span></p>
              </div>
              <div class="farm-number text-center">
                <p class="text-white m-0 fs-2">濕度</p>
                <p class="text-white m-0 fs-2">30.3<span>%</span></p>
              </div>
            </div>

          </div> <!-- farm-block end -->
        </div> <!-- farm-wrap -->

        <!-- farm -->
        <div class="farm-wrap">
          <div class="farm-block m-2 pt-2">
            <!-- m-2擠出白色外面邊框 -->
            <div class="d-flex align-items-center">
              <span
                class="farm-title-frame position-relative d-flex d-inline-block align-items-center justify-content-center"><span
                  class="fw-bold">15F 智慧農園</span></span>
            </div>


            <div class="farm-information d-flex justify-content-center">
              <div class="farm-number text-center me-2">
                <p class="text-white m-0 fs-2">溫度</p>
                <p class="text-white m-0 fs-2">24.0<span>˚C</span></p>
              </div>
              <div class="farm-number text-center">
                <p class="text-white m-0 fs-2">濕度</p>
                <p class="text-white m-0 fs-2">25.3<span>%</span></p>
              </div>
            </div>

          </div> <!-- farm-block end -->
        </div> <!-- farm-wrap -->

        <!-- farm -->
        <div class="farm-wrap pb-2">
          <div class="farm-block m-2 pt-2">
            <!-- m-2擠出白色外面邊框 -->
            <div class="d-flex align-items-center">
              <span
                class="farm-title-frame position-relative d-flex d-inline-block align-items-center justify-content-center"><span
                  class="fw-bold">10F 智慧農園</span></span>
            </div>


            <div class="farm-information d-flex justify-content-center">
              <div class="farm-number text-center me-2">
                <p class="text-white m-0 fs-2">溫度</p>
                <p class="text-white m-0 fs-2">22.0<span>˚C</span></p>
              </div>
              <div class="farm-number text-center">
                <p class="text-white m-0 fs-2">濕度</p>
                <p class="text-white m-0 fs-2">26.3<span>%</span></p>
              </div>
            </div>

          </div> <!-- farm-block end -->
        </div> <!-- farm-wrap -->


      </div>
      <!-- tabContent3 end -->


      <!-- tabContent4 -->
      <div id="tabContent4" class="tab-content">
        <!-- 物業管理系統內容 -->
        <div class="management-button">
          <a href="http://116.59.26.232/pad/" class="tab">
            <ul class="d-flex p-0 m-0">
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <!-- <i class="fa-solid fa-building-circle-arrow-right"></i> -->
                  <img src="../assets/images/wheel.png" alt="事件紀錄" class="py-2">
                  <p class="text-white m-0">事件紀錄</p>
                </span>
              </li>
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <img src="../assets/images/analysis.png" alt="分析圖表">
                  <p class="text-white m-0">分析圖表</p>
                </span>
              </li>
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <img src="../assets/images/icon_property.png" alt="物業報表">
                  <p class="text-white m-0">物業報表</p>
                </span>
              </li>
            </ul>

            <ul class="d-flex p-0 m-0">
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <!-- <i class="fa-solid fa-building-circle-arrow-right"></i> -->
                  <img src="../assets/images/icon_community.png" alt="社區資訊">
                  <p class="text-white m-0">社區資訊</p>
                </span>
              </li>
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <img src="../assets/images/icon_lost.png" alt="待領物件">
                  <p class="text-white m-0">待領物件</p>
                </span>
              </li>
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <img src="../assets/images/icon_resident.png" alt="住戶交辦">
                  <p class="text-white m-0">住戶交辦</p>
                </span>
              </li>
            </ul>
            <ul class="d-flex p-0 m-0">
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <img src="../assets/images/icon_reserve.png" alt="公設預約">
                  <p class="text-white m-0">公設預約</p>
                </span>
              </li>
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <img src="../assets/images/icon_time.png" alt="點數管理">
                  <p class="text-white m-0">點數管理</p>
                </span>
              </li>
              <li class="management position-relative">
                <span style="color: #ffffff;"
                  class="position-absolute top-50 start-50 translate-middle text-center d-inline-block w-100">
                  <!-- span樣式跟其他不一樣 -->
                  <img src="../assets/images/IC73AD_1.png" alt="訪客管理">
                  <p class="text-white m-0">訪客管理</p>
                </span>
              </li>
            </ul>
          </a>
        </div> <!-- management-button -->
      </div><!-- tabContent4 end -->





    </div> <!-- container -->




    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <!-- fontawesome -->


      <script>

        function showTabContent(tabNumber) {
          // ... (同之前的 showTabContent 函數)
          // 隱藏所有內容
          let tabContents = document.querySelectorAll(".tab-content");
          tabContents.forEach(function (content) {
            content.classList.remove("active");
          });

          // 顯示選定的標籤內容(公車 捷運 youbike...)
          const selectedTabContent = document.getElementById("tabContent" + tabNumber);
          selectedTabContent.classList.add("active");
          //showTabContent 函數 end

          // Reset Sub Tabs and Sub Tab Contents for Tab 1
          //(tabNumber === 1)公車這個分頁
          if (tabNumber === 1) {
            //把所有的subTabs選取起來，並清除active
            //洛陽停車場3個
            const subTabs = document.querySelectorAll(".sub-tab");
            subTabs.forEach(function (subTab) {
              subTab.classList.remove("active");
            });

            //所有subcontent內容先隱藏
            //洛陽停車場3個下面的藍29,938等等
            const subTabContents = document.querySelectorAll(".sub-tab-content");
            subTabContents.forEach(function (subTabContent) {
              subTabContent.style.display = "none";
            });

            // Activate the first Sub Tab and show its content initially
            showSubTabContent(1, 1);
            //增加
          } else if (tabNumber === 2) {
            resetSubTabsAndContents(2);  //把全部捷運層的subtab & suntab Content 內容先重置
            // showSubTabContent(2, 1);
          } else if (tabNumber === 3) {
            resetSubTabsAndContents(3);
            showSubTabContent(3, 1);    //點擊捷運後，直接顯示第一張youbike地圖
          }
        }


        function showSubTabContent(tabNumber, subTabNumber) {
          // 隱藏所有 Sub Tab Contents for the given Tab
          const subTabContents = document.querySelectorAll(".sub-tab-content");
          subTabContents.forEach(function (subTabContent) {
            subTabContent.style.display = "none";
          });

          // 取得需要顯示的 Sub Tab Contents 的 id
          const selectedSubTabContentIds = [
            "subTabContent" + tabNumber + "_" + subTabNumber,
            // "subTabContent" + tabNumber + "_4" // 添加額外的 Sub Tab Content id
            "subTabContent" + tabNumber + "_" + (subTabNumber + 3)
          ];

          // 顯示選定的 Sub Tab Contents
          selectedSubTabContentIds.forEach(function (subTabContentId) {
            const selectedSubTabContent = document.getElementById(subTabContentId);
            if (selectedSubTabContent) {
              selectedSubTabContent.style.display = "block";
            }
          });

          // Deactivate all Sub Tabs for the given Tab
          const subTabs = document.querySelectorAll(".sub-tab");
          subTabs.forEach(function (subTab) {
            subTab.classList.remove("active");
          });

          // Activate the selected Sub Tab
          const selectedSubTab = document.querySelector(".sub-tab:nth-child(" + subTabNumber + ")");
          if (selectedSubTab) {
            selectedSubTab.classList.add("active");
          }

        }


        // 新增 resetSubTabsAndContents 函數，用於在 Tab 切換時重置子標籤和內容

        function resetSubTabsAndContents(tabNumber) {
          //洛陽停車場3個 youbike兩個站
          const subTabs = document.querySelectorAll('.sub-tab');
          subTabs.forEach(function (subTab) {
            subTab.classList.remove('active');
          });

          const subTabContents = document.querySelectorAll('.sub-tab-content');
          subTabContents.forEach(function (subTabContent) {
            subTabContent.style.display = 'none';
          });
        }


      </script>
</body>

</html>